:root {
    --light-green: #00ffff;
}

#debakatas {
    background-image: radial-gradient(circle, #5b2379 0%, #130e33 49%);
    background-position: center center;
    height: 200vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100vw;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

nav img {
    filter: drop-shadow(0 0 5px transparent);
    max-height: 100px;
    max-width: 180px;
}

nav a:hover img {
    filter: drop-shadow(0 0 5px var(--light-green));
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

h1 {
    background: var(--light-green);
    box-shadow: 0 0 10px white;
    color: #130e33;
    display: inline-block;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transform: var(--dk-effect);
}

p {
    color: white;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    max-width: 500px;
}

article {
    align-items: center;
    display: flex !important;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    width: min-content;
}

h2 {
    color: white;
    display: inline-block;
    font-size: 4rem;
    font-style: oblique;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px var(--light-green);
    text-transform: uppercase;
    white-space: nowrap;
}

figcaption {
    display: flex;
    text-align: left;
}

figure {
    display: flex !important;
}

figcaption {
    flex-basis: 70%;
    flex-grow: 1;
}

img {
    flex-basis: 100px;
    flex-shrink: 0;
}
