.toggle {
    display: inline-block;
    filter: drop-shadow(2px 2px 10px rgba(7, 25, 73, 0.8));
    height: 30px;
    position: relative;
    position: relative;
    transform: scale(3);
    width: 50px;
    z-index: 10;
}

.toggle input {
    display: none;
}

.slider {
    background: #12458b;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

.slider:before {
    background: #eee;
    border-radius: 50%;
    content: '';
    height: 22px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: translateX(0);
    width: 22px;
}

input:checked + .slider {
    background: #7dc1fe;
}

input:checked + .slider:before {
    background: #ffc646;
    transform: translateX(20px);
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.day {
    background: #add9ff;
}

.night {
    background: #0c2c58;
}

img {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    max-width: 400px;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.day img {
    animation: rotate 10s linear infinite;
}

.night img {
    animation: glow 5s linear infinite alternate;
}

@keyframes glow {
    from {
        filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.8));
    }

    to {
        filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.2));
    }
}

h2 {
    position: fixed;
    bottom: 5vmax;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: 5vmax;
    color: #ffc646;
}
